#board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

.box {
  width: 160px;
  height: 160px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.beforeStart {
  background-color: #CCC;
}

.X {
  background-color: rgba(244, 210, 216, 0.56);
}

.O {
  background-color: rgba(154, 224, 245, 0.49);
}

.playerMark {
  width:158px;
  height:158px;
  z-index: +2;
  margin: 0 auto;
}

#reset {
  position:absolute;
  top:5px;
  left:45%;
}