<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>

    <% bookList.forEach(function (book) { %>
      <div>
        <%= book.title.toUpperCase() %>
        <div>
          <%= book.author %>
        </div>
      </div>
    <% })%>
  </body>
</html>