<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    The New Page!
    <form method="post" action="/books">
      <input type="text" name="title">
      <textarea name="content"></textarea>
      <button>Save </button>
    </form>
  </body>
</html>